*{
	
	margin: 0;
	padding: 0;
	font-family: 'Dela Gothic One', cursive;
}
.headview{
	min-height: 120vh;
	width: 100%;
	background-image: linear-gradient(rgba(4,7,30,.8),rgba(14,17,30,.8)),url(images/ndc.jpg);
	background-position:center;
	background-size:cover;
	position: relative;
	
}
nav{
	display: flex;
	padding: 2% 8%;
	justify-content: space-beetween;
	align-items:center;
	
	
}
nav img{
	width:150px;
}
.nav-links{
	flex:10;
	text-align:right;
}
.nav-links ul li{
	list-style:none;
	display: inline-block;
	padding:8px 12px;
	POSITION: relative;
}
.nav-links ul li a{
	color:#fff;
	text-decoration:none;
	font-size:13px;
}
.nav-links ul li::after{
	content:'';
	width:0%;
	height: 10px;
	background:#f44336;
	display: block;
	margin: auto;
	transition: 1s;
}
.nav-links ul li:hover::after{
	width:100%
}